@import "variables";

.button {
  $border-width: 2px;

  display: inline-flex;
  font-weight: 700;

  height: $button-height;
  padding: calc(.75em - #{$border-width}) 1em;
  line-height: 1em;

  border: solid transparent $border-width;

  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  justify-content: center;
  align-items: center;

  &:focus {
    @apply outline-white
  }
}
