@import "variables";

@mixin mobile-padding() {
  @media (max-width: theme('screens.md')) {
    padding-left: $mobile-padding;
    padding-right: $mobile-padding;
  }
}

@mixin scrollbar() {
  &::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }

  &::-webkit-scrollbar-track {
    @apply bg-grey-light;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-blue-mid;
  }
}
