@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@layer base {
  @import "variables";
  @import "button";

  html, body {
    @apply text-denim-dark
  }

  .hover-scale {
    transition: all .15s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  .hover-scale-1 {
    transition: all .15s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}
